body {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    text-align: center;
    color: white;
}

h1 {
    font-family: "Libre Baskerville", serif;
    color: #6b8cad;
    text-transform: uppercase;
    margin-top: 50px;
}

img {
    width: 100%;
    border: 3px solid #6b8cad;
    border-radius: 5px;
}

p {
    color: whitesmoke;
    font-family: poppins, serif;
}

footer {
    text-align: center;
    font-size: 10px;
    font-weight: light;
    margin-top: 170px;
}

hr {
    font-weight: 100;
}